*
{
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: black;
}

body
{
	background: white;
}

a:hover
{
	cursor: pointer;
}

@font-face 
{
      font-family: 'fontello';
      src: url('../font/fontello.eot?69069987');
      src: url('../font/fontello.eot?69069987#iefix') format('embedded-opentype'),
           url('../font/fontello.woff?69069987') format('woff'),
           url('../font/fontello.ttf?69069987') format('truetype'),
           url('../font/fontello.svg?69069987#fontello') format('svg');
      font-weight: normal;
      font-style: normal;
}

.controls
{
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
}

.navigation
{
	position: absolute;
	bottom: 2px;
	margin-top: 2px;
	width: 100%;
}

.navigation a
{
	display: block;
	float: left;
	width: 25%;
	text-align: center;
}

.navigation:after
{
	clear: both;
}

.icon
{
	font-variant: normal;
    text-transform: none;
	font-family: "fontello";
	font-style: normal;
	font-size: 2em;
}

.exerciseIcon
{
	font-size: 3em;
}

.timers
{
	
}

.timerArrow
{
	font-size: 1.5em;
	text-decoration: none;
	color: black;
}

.workTimer, .exerciseTimer, .timerIcon
{
	width: 25%;
	float: left;
	text-align: center;
	height: 110px;
}

.workTimer:after, .exerciseTimer:after, .timerIcon:after
{
	clear: both;
}

.timerIcon
{
	display: flex;
	align-items: center;
	justify-content: center;
}

.stopControl, .playPauseControl
{
	font-size: 3em;
}

.stopControl
{
	color: red;
}

.playPauseControl
{
	color: green;
}

.stopControl
{
	margin-right: 5px;
}

.timerIcon .icon
{
	
}

#workDuration, #exerciseDuration, #remainingDuration
{
	font-size: 3em;
}

.runningPlayPauseControl .playPauseControl
{
	color: orange !important;
}